html{
  height: 100%;
}
body{
  background-image: url("degrade fundo.jpg");
  background-attachment: fixed;
  background-size: contain;
  color: white;
  font-size: 22px;
  font-weight: 600;
  text-align: center;
  font-family: "Luckiest Guy";
}

@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');

#cabeça{
  text-align: center;
  font-family: "Luckiest Guy";
}

#ps1{
  text-align: center;
  display: inline-block;
  margin-left: 50px;
  margin-right: 60px;
  font-family: "Luckiest Guy";
}

#ps2{
  text-align: center;
  display: inline-block;
  margin-left: 50px;
  margin-right: 60px;
  font-family: "Luckiest Guy";

}
a:link{
  color: black;
}
a:visited{
  color: black;
}
a:hover{
  color: red;
}
a:active{
  color: gray;
}


.borda{
  margin: 4%;
  border: 0px solid white;
  padding: 5%;
}


.button{
  display: inline-block;
  background-image: url("fudo indicie.png");
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-family: "Luckiest Guy";
  font-size: 25px;
  padding: 17px;
  width: 257px;
  transition: all 0.1s;
  cursor: pointer;
  float: left;
  position: relative;
}


.button:active {
  background-color: white;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
#animes-pics{
  color: white;
  display: inline-block;
  text-align: center;
}

#animes-pics2{
  color: white;
  display: inline-block;
  text-align: center;
}
